header{
    text-align: center;
    border: 1px solid #dddddd;
    background-color: rgb(223, 39, 39);
    color: silver;
    font-family: Verdana, Georgia, Helvetica;
}

body{
    background-image: url("record.png");
    background-repeat: repeat;
    font-family: Verdana, Georgia, Helvetica;
    text-align: center
    margin: 0px;
}    

.main{
    background-color: lightgray;
    color: #a585aa;
    padding: 1em;
}