body{
    background-image: url("record.png");
    background-repeat: repeat;
    font-family: Verdana, Georgia, Helvetica;
    text-align: center
    margin-top: 0px; 
    margin-right: 0px; 
    margin-bottom: 0px; 
    margin-left: 0px;
}  

header{
    text-align: center;
    border: 1px solid #dddddd;
    background-color: rgb(223, 39, 39);
    color: rgb(245, 203, 174);
    font-family: Verdana, Georgia, Helvetica;
    margin-bottom: 20px;
}

.main{
    background-color: lightgray;
    color: #a585aa;
    padding: 1em;
    break-after: always;
}